.footer {
  align-items: center;
  background-color: rgba(215, 223, 240, 0.343);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  min-height: 46rem;
  position: fixed;
  width: 100%;
  z-index: -1;
}