:root {
  --z-index-header: 9999;
  --z-index-scroll-icon: 1;
  --top-value-header: 4rem;

  --desktop-header-height: 127px;
  --944-header-height:155px;
  --768-header-height:249px;
  --530-header-height:285px;
  --460-header-height:237px;
  --445-header-height:267px;

  --desktop-max-width: 256rem;
  --desktop-min-height: 72rem;
  --desktop-padding-vh: 6rem; 
  --laptop-max-width: 100rem;
  --mobile-min-width: 34rem;
  --mobile-padding-vh: 2rem;
  --articleBg: #ffffff;
  --line-color-header: #000000;
  --primary-color-resume-status: #2137FF;
  --update-text-color: #333333;
  --z-index-intro-article: 1;
  --gray-text: #333333;
  --white-text: #ffffff;
  --primary-text: #2137FF;
  --logo-primary-color: #2137FF;
  --logo-sub-color: #4C7DFD;
  --transition-bg-color: rgba(174, 198, 255, 0.15);
  --scroll-dwn-color: #999999;
  --dark-gray-button-color: #2137FF;
  --moving-text-front-bg: #555555;
  --moving-text-back-bg: #222222;
}