.card {
  width: 100%;

  .sub_title {
    display: block;
    margin-bottom: 2rem;
    font-size:2rem;
    color:#a5a5a5;
  }

  .title {
    font-size:5rem;
    display: block;
    margin-bottom: 5rem;
  }

  .category {
    font-size: 1.8rem;
    margin-bottom: 3rem;

    & > span {
      display: inline-block;
      color: #ffffff;
      font-weight: 500;
      background-color: #63a4b5;
      padding: 1rem 1.5rem;
      margin-right: 1rem;
      border-radius: 0.5rem;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }

  .team {
    font-size: 2rem;
    margin-bottom: 3rem;
    font-weight: 400;
    color: #a5a5a5;
    & > div {
      display: inline-block;

      .bar {
        font-weight: 100;
        display: inline-block;
        margin: 0 1rem;
      }
  
      .my_job {
        color:#333333;
        font-weight: 600;
      }
    }
  }

  .desc {
    & > p {
      color: #4e4e4e;
      font-size:2rem;
      line-height: 160%;
      &:first-child {
        margin-bottom: 2rem;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .card {
    .sub_title {
      font-size:1.6rem;
      margin-bottom: 1rem;
    }

    .title {
      font-size:3.5rem;
      margin-bottom: 3rem
    }

    .category {
      & > span {
        font-size:1.6rem;
      }
    }

    .team {
      font-size:1.8rem;
    }

    .desc {
      & > p {
        font-size:1.8rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .card {
    .sub_title {
      font-size: 1.5rem;
    }
    
    .title {
      font-size:3rem;
    }

    .team {
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }

    .category {
      margin-bottom: 2rem;

      & > span {
        font-size:1.4rem;
        padding:0.8rem 1rem;
      }
    }

    .desc {
      & > p {
        font-size:1.6rem;
        line-height: 180%;
      }

      & > p:first-child {
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (max-width: 540px){
  .card {

    .title {
      font-size:2.5rem;
    }

    .category {
      & > span {
        font-size: 1.2rem;
      }
    }

    .team {
      font-size: 1.4rem;
    }
  }
}