.images_layout {
  max-width: 120rem;
  margin: auto auto 10vh auto;
  display: grid;
  grid-template-columns: 50% calc(50% - 5rem);
  justify-content: center;
  gap:5rem;

  .image_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap:2rem;

    .preview {
      border:1px solid #cccccc;
      border-radius: 2rem;
      overflow: hidden;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      aspect-ratio: 290/625;
    }
  }

  .content_container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

    & > div:first-child {
      border:1px solid #cccccc;
      border-radius: 1rem;
      aspect-ratio: 304/180;
    }

    & > div:last-child {
      overflow: hidden;
      padding: 3rem;
      padding: 0 1.5rem;
      font-size:1.7rem;
      line-height: 200%;
      color: #4e4e4e;
    }
  }
}

@media screen and (max-width: 1300px) {
  .images_layout {
    padding-left: clamp(var(--mobile-padding-vh), 5vw, var(--desktop-padding-vh));
    padding-right: clamp(var(--mobile-padding-vh), 5vw, var(--desktop-padding-vh));
  }
}

@media screen and (max-width: 944px) {
  .images_layout {
    grid-template-columns: none;
    grid-template-rows: auto;
    width: 80%;
    gap: 5vh;

    .content_container {
      & > div {
        font-size: 1.6rem;
        line-height: 160%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .images_layout {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .images_layout {
    .image_container {
      grid-template-columns: none;
      gap: 5vh;

      .preview {
        width: 50%;
        margin: auto;
      }
    }
  }
}