.work_detail {
  padding-top: calc(var(--desktop-header-height) + var(--top-value-header) + 10vh);
  position: relative;
  background-color: #ffffff;

  & > a {
    margin: auto auto 8vh auto;
  }

  .container {
    max-width: 120rem;
    margin: auto auto 10vh auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 20% calc(80% - 10rem);
    align-items: center;
    gap: 10rem;

    .preview {
      width: 100%;
      border: 1px solid #cccc;
      border-radius: 2rem;
      overflow: hidden;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      & > img {
        width: 100%;
      }
    }

    .goBackLink {
      display: inline-block;
      
    }
  }
}

@media screen and (max-width:1300px) {
  .work_detail {
    .container {
      max-width: 100%;
      padding-left: clamp(var(--mobile-padding-vh), 5vw, var(--desktop-padding-vh));
      padding-right: clamp(var(--mobile-padding-vh), 5vw, var(--desktop-padding-vh));
      gap: 5rem;
      grid-template-columns: 25% calc(75% - 5rem);
    }
  }
}

@media screen and (max-width: 944px) {
  .work_detail {
    .container {
      
    }
  }
}

@media screen and (max-width: 768px) {
  .work_detail {
    padding-top: calc(var(--desktop-header-height) + var(--top-value-header) + 14.2rem + 2vh);

    .container {
      grid-template-columns: none;
      grid-template-rows: auto;
      row-gap: 7rem;

      .preview {
        width: 50%;
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .work_detail {
    padding-top: calc(var(--desktop-header-height) + var(--top-value-header) + 14.2rem + 5vh);

    .container {
      .preview {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .work_detail {
    padding-top: calc(var(--445-header-height) + var(--top-value-header) + 1.5rem + 3vh);

    .container {
      row-gap: 7rem;
    }
  }
}