.about {  
  position: relative;
  z-index: 1;
  .container {
    min-width: var(--mobile-min-width);
    min-height: 100rem;
    width:100%;
    padding-left: clamp(var(--mobile-padding-vh), 5vw, var(--desktop-padding-vh));
    padding-right: clamp(var(--mobile-padding-vh), 5vw, var(--desktop-padding-vh));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .visual {
      position: relative;

      .profile {
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: start;
        width: 45rem;
        aspect-ratio: 1/1;
        border-radius: 35px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-top: 5rem;

        .left {
          height: 100%;

          & > div:first-child {
            height: 100%;
          }
        }

        .right {
          display: grid;
          grid-template-rows: 1fr;
          align-items: start;

          & > div {
            aspect-ratio: 1/1;
          }
        }
      }
  
      .animation_text {
        position: absolute;
        bottom: 85%;
        right: -95px;
        text-align: left;

        .screen_out {
          font-size:0;
          overflow: hidden;
          width: 0;
          height: 0;
          padding:0;
          margin:0;
        }

        .first_text {
          font-size:4rem;
          color: var(--gray-text);
          margin-bottom: 1rem;
          font-weight:700;
        }

        .second_text {
          display: grid;
          grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
          column-gap: 5px;
          text-align: center;

          & > div {
            position: relative;
            width: 48px;
            height: 60px;
          }


          & > div > span {
            position: absolute;
            width: 48px;
            height: 60px;
            display: inline-block;
            color: var(--white-text);
            font-size: 4rem;
            padding: 10px;
            font-weight: 600;
            border-radius: 5px;
            backface-visibility: hidden;
            inset: 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          }

          & > div > span:first-child {
            background-color: var(--moving-text-front-bg);
          }

          & > div > span:last-child {
            background-color: var(--moving-text-back-bg);
          }
        }
      }
    }
  
    .content {
      margin-left: 20rem;
      max-width: 75rem;

      .content_title {
        display: flex;
        justify-content: left;
        align-items: center;

        & > span {
          font-size: 3rem;
          font-weight: 700;
          color: var(--gray-text);
          display: inline-block;
          line-height: 2rem;
        }

        & > svg {
          width: 14rem;
          height: fit-content;
        }
      }
  
      .content_desc {
        text-align: left;
        margin: 2.5rem 0;
        font-size:1.8rem;
        line-height: 190%;

        & > p {
          margin-bottom: 2rem;
        }
      }
  
      .download_link {
        width: fit-content;
        background-color: var(--dark-gray-button-color);
        padding: 1rem 2.5rem;
        color: var(--white-text);
        border-radius: 5px;

        & > a {
          display: flex;
          justify-content: left;
          align-items: center;
          font-size:1.6rem;

          & > span {
            display: inline-block;
            margin-left:10px;
            font-weight:600;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .about {
    .container {
      flex-direction: column;

      .visual {
        margin-bottom: 5rem;

        .profile {
          width: 50rem;
        }
      }

      .content {
        margin-left:0;
      }
    }
  }
}

@media screen and (max-width: 768px) { 
  .about {
    .container {
      .visual {

        .profile {
          width: 45rem;
        }
      }

      .content {
      }
    }
  }
}

@media screen and (max-width: 530px) { 
  .about {
    .container {
      .visual {
        .profile {
          width: 100%;
        }
      }

      .content {
      }
    }
  }
}