.about {  
  background-color: var(--transition-bg-color);

  .container {
    min-width: var(--mobile-min-width);
    min-height: 80rem; //108rem;
    width:100%;
    padding-left: clamp(var(--mobile-padding-vh), 5vw, var(--desktop-padding-vh));
    padding-right: clamp(var(--mobile-padding-vh), 5vw, var(--desktop-padding-vh));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    .visual {
      position: relative;

      .profile {
        overflow: hidden;
        width: 40rem;
        aspect-ratio: 1/1;
        border-radius: 35px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-top: 5rem;
        border: 1px solid #999999;
        filter: saturate(0.5);
        & > div {
          width: 100%;
        }
      }
  
      .animation_text {
        position: absolute;
        bottom: 93%;
        right: -50px;
        text-align: left;

        .first_text {
          font-size:4rem;
          color: var(--gray-text);
          margin-bottom: 1.5rem;
          font-weight:700;
          font-style: italic;
        }

        .second_text {
          display: grid;
          grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
          column-gap: 5px;
          text-align: center;
          position: relative;
          z-index: 10;

          & > div {
            position: relative;
            width: 48px;
            height: 60px;
          }


          & > div > span {
            position: absolute;
            width: 48px;
            height: 60px;
            display: inline-block;
            color: var(--white-text);
            font-size: 4rem;
            padding: 10px;
            font-weight: 600;
            border-radius: 5px;
            backface-visibility: hidden;
            inset: 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          }

          & > div > span:first-child {
            background-color: var(--moving-text-back-bg);
          }

          & > div:nth-child(n-4) > span:last-child {
            background-color: #333333;
          }

          & > div:nth-child(n+5) > span:last-child {
            background-color: #999999;
          }

        }
      }
    }
  
    .content {
      margin-left: 15rem;
      max-width: 75rem;

      .content_title {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 1rem;

        & > span {
          font-size: 2rem;
          color:#999999;
          font-weight: 800;
          display: inline-block;
          font-family: "Ysabeau SC", sans-serif;
        }

        & > svg {
          width: fit-content;
          height: 1.6rem;
          filter: grayscale(1);
        }
      }
  
      .content_desc {
        text-align: left;
        margin: 2rem 0 2.5rem;
        font-size: 2rem;
        line-height: 190%;

        & > p {
          margin-bottom: 2rem;
        }
      }
  
      .download_link {
        width: fit-content;
        background-color: var(--dark-gray-button-color);
        padding: 1.5rem 2.5rem;
        color: var(--white-text);
        border-radius: 5px;
        transition: background-color 0.2s ease-in-out;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        &:hover {
          background-color: #1423ae;
        }

        & > a {
          display: flex;
          justify-content: left;
          align-items: center;
          font-size: 1.8rem;

          & > span {
            display: inline-block;
            margin-left:10px;
            font-weight:600;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .about {
    .container {
      display: grid;
      grid-template-columns: auto;
      row-gap: 10rem;
      margin-top: 15rem;
      padding-bottom: 10vh;

      .visual {
        .profile {
          width: 40rem;
          margin: 8rem auto auto;
        }

        .animation_text {
          width:100%;
          position: absolute;
          bottom: 87%;
          left: 0;
          text-align: left;

          .first_text {
            text-align: center;
          }

          .second_text {
            justify-content: center;
          }
        }
      }

      .content {
        margin-left:0;
        width: 100%;
        max-width: 100rem;
      }
    }
  }
}

@media screen and (max-width: 768px) { 
  .about {
    .container {
      gap: 5rem;

      .visual {
        .profile {
          width: 45rem;
          margin: 9rem auto auto;
        }

        .animation_text {
          text-align: center;
          left:0;
          width:100%;

          .first_text {
            font-size: 3rem;
          }

          .second_text {
            grid-template-columns: 45px 45px 45px 45px 45px 45px 45px 45px;
            width: fit-content;
            margin: auto;

            & > div {
              width: 45px;
              height: 55px;

              & > span {
                width: 45px;
                height: 55px;
                font-size:3rem;
                line-height: 55px;
                padding:0;
              }
            }
          }
        }
      }

      .content {
        .content_desc {
          
        }

        .download_link {
          width: 100%;

          & > a {
            justify-content: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 530px) { 
  .about {
    .container {
      .visual {

        .profile {
          width: 100%;
          margin: 8rem auto 0;
        }

        .animation_text {
          .second_text {
            grid-template-columns: 45px 45px 45px 45px 45px 45px 45px 45px;
            width: fit-content;
            margin: auto;

            & > div {
              & > span {
                font-size:3rem;
                line-height: 55px;
              }
            }
          }
        }
      }

      .content {
        .content_desc {
          font-size:1.6rem;
        }

        .download_link {
          width:100%;
          padding: 1.5rem 2.5rem;
          & > a {
            justify-content: center;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) { 
  .about {
    padding-top: calc(var(--desktop-header-height) + var(--top-value-header) + 5vh);
    .container {
      .visual {

        .profile {
          width: 80%;
          margin: 3rem auto 0;
        }

        .animation_text {
          bottom: 95%;
          
          .second_text {
            grid-template-columns: 35px 35px 35px 35px 35px 35px 35px 35px;

            & > div {
              width: 35px;
              height: 45px;

              & > span {
                width: 35px;
                height: 45px;
                font-size:3rem;
                padding:0;
                line-height: 45px;
              }
            }
          }
        }
      }

      .content {
        .content_desc {
          font-size:1.5rem;
          & > p {
            br:first-child {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px) { 
  .about {
    .container {
      .visual {
        

        .profile {
         
        }

        .animation_text {
          .first_text {}

          .second_text {
            grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px;

            & > div {
              width: 30px;
              height: 40px;

              & > span {
                width: 30px;
                height: 40px;
                font-size:2.5rem;
                line-height: 40px;
              }
            }
          }
        }
      }
    }
  }
}