.company {
  width: 90rem;
  display: grid;
  grid-template-columns: 250px 1fr;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: hsla(0,0%,92%,.502);
  border-radius: 2rem;
  height: auto;
  color:#333333;
  margin-left: 2rem;
  margin-top: 2.5rem;
  border:1px solid #cccccc;

  .company_info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: flex-start;
    align-items: start;
    position: relative;
    top: -2.5rem;
    left: -2rem;
    gap: 2rem;

    .app {
      margin-bottom: 1.5rem;
      display: flex;
      gap:1rem;
      width: fit-content;
      
      & > a {
        display: inline-block;
        width: 2rem;
        height: 2rem;
      }

      .app_store {
        background-image: url("../../../../static/images/app_store.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }

      .google_play {
        background-image: url("../../../../static/images/google_play.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    .logo {
      width: 20rem;
      border-radius: 2rem;
      overflow: hidden;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border: 1px solid #cccccc;
    }

    .container {
      .title {
        display: flex;
        max-width: 38rem;
        width: 100%;
        gap: 1rem;
        margin-bottom: 1.5rem;

        .text {
          font-size: 3.5rem;
          font-weight: 700;
          line-height: 90%;
        }
  
        .duration {
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
  
      .my_work {
        font-size: 1.8rem;
        font-weight: 400;
        color: grey;
      }
    }
  }

  .company_desc {
    box-sizing: border-box;
    padding: 4rem 4rem 4rem 2rem;

    .name {
      font-size:1.8rem;
      color: grey;
      margin-bottom: 1.5rem;
    }

    .content {
      font-size:1.6rem;
      letter-spacing: -1px;
      color: #333333;
      line-height: 160%;
      margin-bottom: 2rem;
    }

    .service_tech {
      margin-bottom: 2rem;

      .title {
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
        letter-spacing: -1.5px;
        color: grey;
      }
  
      .tech_desc {
        font-size: 1.6rem;
        letter-spacing: -1px;
        color: #333333;
        line-height: 160%;
      }
    }

    .my_tech {
      margin-bottom: 2rem;

      .title {
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
        letter-spacing: -1.5px;
        color: grey;
      }
    }

    .dev_env {
      margin-bottom: 2rem;

      .title {
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
        letter-spacing: -1.5px;
        color: grey;
      }
    }

    .co_work_tool {
      .title {
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
        letter-spacing: -1.5px;
        color: grey;
      }
    }
  }
}

@media screen and (max-width: 1300px){
  .company {
    width: calc(100% - 2rem);
    margin: 2.5rem auto 0 2rem;

    .company_desc {
      padding: 4rem 4rem 4rem 4rem;
    }
  }
}

@media screen and (max-width: 768px){
  .company {
    grid-template-columns: auto;
    margin: 2.5rem auto auto 3rem;
    width: calc(100% - 3rem);

    .company_info {
      grid-template-columns: 16rem 1fr;
      grid-template-rows:none ;
      align-items: end;
      column-gap: 3rem;
      left: -3rem;

      .logo {
        width: 16rem;
      }

      .container {
        .title {
          gap: 1.5rem;
          flex-direction: column;

          .duration {
            font-size:1.5rem;
          }
        }
      }
    }

    .company_desc {
      padding: 2rem 3rem 5rem 3rem;
    }
  }
}

@media screen and (max-width: 530px) {
  .company {
    .company_info {
      grid-template-columns: 150px 1fr;
      column-gap: 2rem;

      .logo {
        width: 15rem;
      }

      .container {
        margin-top: 3rem;

        .title {
          .text {
            font-size: 2.5rem;
          }
        }
      }
    }
    
    .company_desc {
      padding: 1rem 2.5rem 4rem 2.5rem;

      .content {
        font-size: 1.4rem;
      }

      .service_tech {
        .tech_desc {
          font-size: 1.4rem;
        }
      }

      .my_tech {
        & > div:last-child {
          font-size: 1.4rem;
          line-height: 150%;
        }
      }

      .dev_env {
        & > div:last-child {
          font-size: 1.4rem;
        }
      }

      .co_work_tool {
        & > div:last-child {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {

  .company {
    width: calc(100% - 1rem);
    margin: 2rem 0 auto 1rem;

    .company_info {
      grid-template-columns: 120px 1fr;
      column-gap: 3rem;

      .logo {
        width: 10rem;
        margin-left: 2rem;
        border-radius: 1.5rem;
        margin-bottom: 1.5rem;
      }

      .container {
        margin-top: 5rem;

        .title {
          .text {
            font-size: 2rem;
          }
        }

        .my_work {
          font-size:1.5rem;
        }
      }
    }
    
    .company_desc {
      
    }
  }
}