.intro {
  background-color: var(--articleBg);
  min-width: var(--mobile-min-width);
  width:100%;
  height: 100vh;
  padding-top: calc(var(--desktop-header-height) + var(--top-value-header) + 10vh);
  padding-bottom: 10vh;
  padding-left: clamp(var(--mobile-padding-vh), 5vw, var(--desktop-padding-vh));
  padding-right: clamp(var(--mobile-padding-vh), 5vw, var(--desktop-padding-vh));
  text-align: center;

  .container {
    width:100%;

    .title {
      width: fit-content;
      margin:auto auto 8vh auto;

      .title_container {
        .sub_title {
          font-size: 3rem;
          display: inline-block;
          width: 100%;
          text-align: left;
          color: var(--gray-text);
          margin-bottom: 0.5vh;

          & > span:first-child {
            color: var(--white-text);
            font-weight: 700;
            background-color: var(--logo-sub-color);
            display: inline-block;
            padding: 0.5rem;
            margin-right: 5px;
          }

          & > span:nth-child(3){
            color: var(--white-text);
            font-weight: 700;
            background-color: var(--logo-primary-color);
            display: inline-block;
            padding: 0.5rem;
            margin: 0 5px;
          }
        }

        .logo {
          & > svg {
            max-width: 100%;
            width: 90rem;
            height: 100%;
          }
        }
      }
    }

    .description {
      font-size: 2.5rem;
      letter-spacing: -1px;
      margin-bottom: 15vh;

      .first {
        margin-bottom: 3vh;

        & > div {
          .primary_color {
            padding: 0 5px;
          }

          .gray_color {
            color:var(--gray-text);
            margin-right:8px;
          }
        }

        & > div:first-child {
          margin-bottom: 1vh;
        }

        & > div:nth-child(2){
          width: fit-content;
          margin: auto;
          overflow: hidden;

          & > span:nth-child(2){
            transform: translateY(35px);
            display: inline-block;
            overflow: hidden;
          }
        }
      }

      .last {
        line-height: 1.5;
        overflow: hidden;

        & > div:nth-child(1) {
          font-weight: 600;
          margin-bottom: 1vh;
        }

        & > div:last-child {
          font-weight: 600;
          background-color: var(--primary-text);
          color: var(--white-text);
          width: fit-content;
          margin: auto;
          padding: 0 10px;
          transform: translateY(40px);
        }
      }
    }

    @keyframes scrollDown {
      from {
        transform: scale(1) translateY(0px);
        opacity: 1;
        color: #999999;
      }
    
      to {
        transform: scale(0.8) translateY(30px);
        opacity: 0;
        color: #333333;
      }
    }

    .scroll_guide {
      position: relative;
      z-index: var(--z-index-scroll-icon);
      width: fit-content;
      margin:auto;

      & > div:first-child {
        color: var(--scroll-dwn-color);
        font-size:1.6rem;
        font-weight:400;
      }

      .scroll_dwn_icon {
        & > svg {
          animation: scrollDown 1s linear infinite;
          display: block;
          font-size: 4rem;
          margin: auto;
          color: var(--scroll-dwn-color);
        }
      }
    }

    @keyframes bgMovingText {
      from {
        background-position: -100% calc(var(--desktop-header-height) + var(--top-value-header) + 5vh);
      }
    
      to {
        background-position: 100% calc(var(--desktop-header-height) + var(--top-value-header) + 5vh);
      }
    }

    .bg_moving_text {
      animation: bgMovingText 100s linear infinite;
      width:100%;
      height:100vh;
      position: fixed;
      left:0;
      top:0;
      user-select: none;
      pointer-events: none;
      z-index: var(--z-index-intro-article);
      background-image: url(../../../../static/bg/flow_text_bg.svg);
      background-position: 100% calc(var(--desktop-header-height) + var(--top-value-header) + 5vh);
      background-repeat: repeat-x;
      background-size: 250% auto;
    }
  }
}

@media screen and (max-width: 944px){
  .intro {
    padding-top: calc(var(--944-header-height) + var(--top-value-header) + 10vh);

    .container {
      .title {
        .title_container {
          .sub_title {
            font-size:2.5rem;
          }
        }
      }

      .description {
        .first {
          font-size:2rem;
          margin-bottom: 2vh;
        }

        .last {
          font-size:2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px){
  .intro {
    padding-top: calc(var(--768-header-height) + var(--top-value-header) + 10vh);

    .container {

      .title {
        .title_container {
          .sub_title {
            font-size:2rem;
          }
        }
      }

      .description {
        .first {
          font-size:2rem;
          margin-bottom: 2vh;
        }

        .last {
          font-size:2rem;
        }
      }

      @keyframes bgMovingText {
        from {
          background-position: -100% calc(var(--768-header-height) + var(--top-value-header) + 5vh);
        }
      
        to {
          background-position: 100% calc(var(--768-header-height) + var(--top-value-header) + 5vh);
        }
      }
      
    }
  }
}

@media screen and (max-width: 530px){
  .intro {
    padding-top: calc(var(--530-header-height) + var(--top-value-header) + 10vh);

    .container {

      .title {
        .title_container {
          .sub_title {
            font-size:1.8rem;
          }
        }
      }

      .description {
        .first {
          font-size:1.8rem;
          margin-bottom: 2vh;
        }

        .last {
          font-size:1.8rem;
        }
      }


      @keyframes bgMovingText {
        from {
          background-position: -100% calc(var(--530-header-height) + var(--top-value-header) + 6vh);
        }
      
        to {
          background-position: 100% calc(var(--530-header-height) + var(--top-value-header) + 6vh);
        }
      }
    }
  }
}

@media screen and (max-width: 460px){
  .intro {
    padding-top: calc(var(--460-header-height) + var(--top-value-header) + 10vh);

    .container {

      .title {
        .title_container {
          .sub_title {
            font-size:1.5rem;
          }
        }
      }

      .description {
        .first {
          font-size:1.6rem;
          margin-bottom: 2vh;
        }

        .last {
          font-size:1.6rem;
        }
      }


      @keyframes bgMovingText {
        from {
          background-position: -100% calc(var(--460-header-height) + var(--top-value-header) + 5.5vh);
        }
      
        to {
          background-position: 100% calc(var(--460-header-height) + var(--top-value-header) + 5.5vh);
        }
      }
    }
  }
}

@media screen and (max-width: 445px){
  .intro {
    padding-top: calc(var(--445-header-height) + var(--top-value-header) + 10vh);

    .container {

      .title {
        .title_container {
          .sub_title {
            font-size:1.4rem;
          }
        }
      }

      @keyframes bgMovingText {
        from {
          background-position: -100% calc(var(--445-header-height) + var(--top-value-header) + 4.5vh);
        }
      
        to {
          background-position: 100% calc(var(--445-header-height) + var(--top-value-header) + 4.5vh);
        }
      }
    }
  }
}