.decoration_bg {
  position: relative;

  .bg {
    background-color: var(--transition-bg-color);
    height: calc(200rem - 30vh);
    min-height: 135rem;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
  }
}