.wide_work_item {
  width: fit-content;
  position: relative;
  margin-right: 1.5rem;
  
  &:hover {
    .desktop {
      .image {
        filter: brightness(0.5);
       }

      .shadow {
        transform: translateY(20px);
      }
    }

    .mobile {
      .image {
        filter: brightness(0.5);
       }

       .shadow {
        transform: translateY(20px);
      }
    }
  }
  
  .preview {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;

    .desktop {
      position: relative;
      width: 70%;
      aspect-ratio: 6/5;

      .image {
        transition: filter 0.3s ease-in-out;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 2rem;
        border: 1px solid #cccccc;
        background-color: #999999;
      }

      .shadow {
        transition: transform 0.3s ease-in-out;
        position: absolute;
        width: 100%;
        height: 98%;
        backdrop-filter: blur(1.2px);
        background-color: hsla(0, 0%, 80%, 0.7);
        border-radius: 2rem;
        z-index: -1;
        top: 1rem;
        left: 1.5rem;
      }
    }

    .mobile {
      position: relative;
      width: 30%;
      aspect-ratio: 1/1.95;

      .image {
        transition: filter 0.3s ease-in-out;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 2rem;
        border: 1px solid #cccccc;
        background-color: #999999;
      }

      .shadow {
        transition: transform 0.3s ease-in-out;
        position: absolute;
        width: 100%;
        height: 98%;
        backdrop-filter: blur(1.2px);
        background-color: hsla(0, 0%, 80%, 0.7);
        border-radius: 2rem;
        z-index: -1;
        top: 1rem;
        left: 1.5rem;
      }
    }
  }

  .card {
    aspect-ratio: 3/2;
    background-color: rgba(236, 234, 234, 0.9607843137);
    border: 1px solid #cccccc;
    position: absolute;
    bottom: 4rem;
    left: -1.5rem;
    width: 40rem;
    height: 19rem;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 2rem;
    overflow: hidden;

    & > a {
      width: 100%;
      height: 100%;
      position: relative;
      display: grid;
      grid-template-rows: 1.8rem 2.8rem;
      align-items: flex-start;
      row-gap: 1rem;

      .project_name {
        font-size: 1.7rem;
        font-weight: 600;
        color: #333333;
        display: flex;
        width: 100%;
        text-align: left;

        & > svg {
          display: inline-block;
          margin-right: 0.8rem;
          width: 1.5rem;
        }
      }
      
      .category {
        font-size: 1.5rem;
        display: flex;
        gap: 0.5rem;

       & > li {
        width: fit-content;
        height: fit-content;
        padding: 0.5rem 1.2rem;
        background-color: #63a4b5;
        color: #ffffff;
        font-weight: 500;
        border-radius: 3px;
        line-height: 120%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
       }
      }

      .content {
        font-size:1.5rem;
        text-align: left;
        line-height: 150%;
      }
    }
  }
}


@media screen and (max-width: 1300px) {
  .wide_work_item {
    width: calc(100% - 3rem);
    margin: auto 1.5rem auto 1.5rem;

    .preview {
      gap: 3rem;
    }
  }
}

@media screen and (max-width: 944px){
  .wide_work_item {
    .preview {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 3rem;

      .mobile { 
        width: fit-content;
        position: relative;
        aspect-ratio: 0;
        height: 65vh;
      }

      .desktop { 
        width: 100%;
      
        .image {
          aspect-ratio: 3/2;
        }
      }
    }

    .card {
      width: 30rem;
      height: 20rem;
    }
  }
}

@media screen and (max-width: 530px){
  .wide_work_item {

    .preview {
      gap: 2rem;
      
      .mobile {
        & > div {
          width: 100%;
        }
      }
    }

    .card {
      width: 95%;
      height: 20rem;
      top: 50%;
      transform: translateY(55%);
    }
  }
}