.works {
  padding-top: calc(var(--desktop-header-height) + var(--top-value-header) + 20rem);
  padding-bottom: calc(var(--desktop-header-height) + var(--top-value-header) + 20rem);
  padding-left: clamp(var(--mobile-padding-vh), 5vw, var(--desktop-padding-vh));
  padding-right: clamp(var(--mobile-padding-vh), 5vw, var(--desktop-padding-vh));
  width: 100%;

  .works_container {
    display: grid;
    grid-template-columns: 92rem;
    justify-content: center;
    align-items: center;
    row-gap: 10vh;

    .title {
      text-align: center;
      font-size: 2.2rem;
      font-family: "Ysabeau SC", sans-serif;
      font-weight: 500;
      color: #333333;
      display: none;
    }

    .works_list {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: 250px 250px 250px 250px;
      column-gap: 8rem;
    }
  }
}

@media screen and (max-width: 1300px){
  .works {
    .works_container {
      grid-template-columns: 100%;

      .works_list {
        width: calc(100% - 1.5rem);
        column-gap: 0;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
      }
    }
  }
}

@media screen and (max-width: 944px) {
  .works {
    .works_container {
      .works_list {
        justify-content: center;
        gap: 6rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .works {
    padding-top:calc(var(--desktop-header-height) + var(--top-value-header));

    .works_container {
      .title {
        row-gap: 5rem;
        display: block;
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .works {
    .works_container {
      .works_list {
        text-align: center;
        width: 100%;
      }
    }
  }
}