.works {
  padding-top: calc(var(--desktop-header-height) + var(--top-value-header));
  padding-bottom: 25vh;
  padding-left: clamp(var(--mobile-padding-vh), 5vw, var(--desktop-padding-vh));
  padding-right: clamp(var(--mobile-padding-vh), 5vw, var(--desktop-padding-vh));
  width: 100%;

  .works_container {
    display: grid;
    grid-template-columns: 92rem;
    justify-content: center;
    align-items: center;
    row-gap: 10vh;

    .title {
      text-align: center;
      font-size:2rem;
      font-family: monospace;
      color:#333333;
      font-weight: 400;
    }

    .works_list {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: 250px 250px 250px 250px;
      column-gap: 5rem;
    }
  }
}

@media screen and (max-width: 1300px){
  .works {
    .works_container {
      grid-template-columns: 1fr;

      .works_list {
        width: 100%;
        display: inline-block;
        column-gap: 0;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .works {
    .works_container {
      .works_list {
        text-align: center;
      }
    }
  }
}